# ========================
# Node
# ========================
node_modules/
package-lock.json

# ========================
# Environment
# ========================
.env
*.local

# ========================
# Build outputs
# ========================
dist
dist-ssr

# ========================
# Prisma generated
# ========================
be/src/generated/
src/generated/prisma

# ========================
# Logs
# ========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Editor
# ========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========================
# OS (macOS)
# ========================
.DS_Store
.DS_*
*.icloud
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ========================
# Windows
# ========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.stackdump

# ========================
# Misc
# ========================
*.sublime*
**/*.backup.*
**/*.back.*
